* {
    margin: 0 0;
    padding: 0 0;
}

body {
    background: black;
    color: green;
}

button {
    color: blue;
    border: solid 1px;
    font-size: 13px;
    height: 20px;
    cursor: pointer;
}

table > tr > th, table > tr > td {
    color: green;
    /*width: 95px;*/
    text-align: center;
    height: 22px;
}


.header, .content, .footer {
    width: 1080px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
}

.content > table {
    width: inherit;
    word-break:break-all;
    word-wrap: break-word;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    background: blue;
    color: white;
}

.header > .title {
    font-size: 30px;
}

.header > .logout {
    color: red;
    float: right;
    font-size: 30px;
    height: 40px;
    margin-right: 2px;
}

.create_queue {
    float: right;
    margin-right: 3px;
    margin-bottom: 5px;
}

audio {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}